[api_server]
listen = "[::]:8081"

[database]
connstring = "postgres://postgres@127.0.0.1/smm-zerop"
max_connections = 1

[smm2-upstream-db]
connection_string = "Server=tcp:127.0.0.1,1433; Database=SMM2; User=username; Password=password"
