{% extends "layout.html" %}
{% block page_title %}Random Uncleared Level - SMM1{% endblock %}
{% set headline = "Random Uncleared Level - SMM1" %}
{% block body %}
  <section class="box">
    <h2>SMM1 has been cleared!</h2>
    <p>
      <strong>There are no more uncleared levels in SMM1. 🎉</strong>
    </p>
    <p>
      The last official level, aptly named &quot;The Last Dance&quot;, was cleared on March 15 2024. Congratulations to
      Yamada for clearing that level, and a huge thank you to everyone in Team 0%!
    </p>
    <p>
      <small>
        If you're wondering what happened to the "Trimming The Herbs" level, the creator published a statement
        clarifying that the level was
        <a
          href="https://discord.com/channels/394519186610847754/1220808827621085294/1220844045107073104"
          target="_blank"
          >uploaded with a Tool-Assisted Speedrun</a
        >, so Team 0% will accept the previous, hacked, clear on that level.
      </small>
    </p>
  </section>
{% endblock %}
