---
import "../assets/css/main.scss";

export interface Props {
  bodyClasses?: string[];
  headline: string;
  showHomeButton?: boolean;
  title?: string;
}

let showHomeButton = typeof Astro.props.showHomeButton != "undefined" ? Astro.props.showHomeButton : true;

let pageTitle = "Team 0%";
if (Astro.props.title) {
  pageTitle = `${Astro.props.title} - ${pageTitle}`;
}
---

<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>

    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="stylesheet" href="//internal-cdn.0b101010.services/fontawesome/pro/latest-6/css/all.min.css" />
  </head>
  <body class={Astro.props.bodyClasses && Astro.props.bodyClasses.join(" ")}>
    <main>
      <header>
        {
          showHomeButton && (
            <a href="/" class="icon-button" title="Go home">
              <i class="fa-solid fa-house" />
            </a>
          )
        }
        <h1>{Astro.props.headline}</h1>
      </header>

      <section class="box alert-box">
        <h2>Warning: Outdated data!</h2>
        <p>
          Due to technical issues, this dashboard is currently unable to show up-to-date information. This means that
          some of the levels suggested to you might have already been cleared. Please be mindful of that, and check if
          the level you're about to play is actually still uncleared.
        </p>
        <p>
          Fixing this involves multiple people and multiple services, so it's not a quick task. We'll release a fix as
          soon as possible!
        </p>
      </section>

      <slot />

      <footer>
        <p>
          <a href="/about/">What? Who? How? and other FAQ</a> &middot;
          <a href="/changelog/">Changelog</a>
        </p>
      </footer>
    </main>
  </body>
</html>
