---
import Base from "@layouts/Base.astro";
---

<Base title="Changelog" headline="Changelog">
  <section class="box">
    <h2>2024-03-04</h2>
    <ul>
      <li>Added a warning box alerting users about the outdated data.</li>
    </ul>
  </section>
  <section class="box">
    <h2>2023-11-23</h2>
    <ul>
      <li>For SMM2, you can now filter by game style. Thanks, @kittenchilly.</li>
    </ul>
  </section>
  <section class="box">
    <h2>2023-11-09</h2>
    <ul>
      <li>
        You can now click on a Course ID to copy it to your clipboard. Useful if you want to paste it into Discord, a
        text editor, or anywhere else, really.
      </li>
      <li>
        There was a rare edge-case in the component that imported the level database, which resulted in the database
        being completely empty for a couple of minutes. According to the logs, not a single user was affected by this -
        but this fixed now either way.
      </li>
    </ul>
  </section>
</Base>
