---
import Base from "@layouts/Base.astro";
---

<Base title="Changelog" headline="Changelog">
  <section class="box">
    <h2>2023-11-09</h2>
    <ul>
      <li>
        You can now click on a Course ID to copy it to your clipboard. Useful if you want to paste it into Discord, a
        text editor, or anywhere else, really.
      </li>
    </ul>
  </section>
</Base>
