---
import Base from "@layouts/Base.astro";
---

<Base bodyClasses={["index-page"]} headline="Team 0%" showHomeButton={false}>
  <section class="box">
    <h2>SMM1</h2>
    <a href="/smm1/random_level/" class="button">SMM1 has been cleared!</a>
  </section>
  <section class="box">
    <h2>SMM2</h2>
    <a href="/smm2/random_level/" class="button">Random Uncleared Level</a>
  </section>
</Base>
